.mainContainer {
  text-align: left;
  width:800px;
  margin:auto;
  border: 1px solid rgba(95, 88, 88, 0.582);
  padding: 2em;
}

.tableContainer {
  border:1px solid rgba(95, 88, 88, 0.582);
}

img {
  vertical-align: middle;
  height: 30vh
}

div>span {
  font-size: 7vh;
}

.wdt1 {
  width:99%;
}

.wdt2 {
  width:100%;
}

.wdt3 {
  width:100%;
}

.clr {
  background-color: rgba(95, 88, 88, 0.582);
}

input {
  height: 4vh;
}